.headerContainer{
    height: 5rem;
    border: 1px solid var(--gray-800);

    .headerContent{
        width: 1120px;
        margin: 0 auto;
        padding: 0 2rem;
        
        display: flex;
        align-items: center;
        
        nav{
            height: 5rem;
            margin-left: 2rem;

            a{
                position: relative;
                height: 5rem;
                display: inline-block;
                line-height: 5rem;
                padding: 0 0.5rem;
                color: var(--gray-300);
                transition: color 0.2s;

                & + a{
                    margin-left: 2rem;
                }

                &:hover {
                    color: var(--white);
                }
                &.active{
                    color: var(--white);
                    font-weight: 900;
                    &.active::after{
                        content: "";
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 2px;
                        background: var(--yellow-500);
                        border-radius: 3px 3px 0 0;
                    }
                }
            }
        }
        button{
            margin-left: auto;
        }
    }
}